img{
    width:200px;
    height:80%;
    object-fit: contain;
   margin-left:10px;
   margin-bottom:15px;
   margin-top:20px;
}

.title{

    margin-top:10px;
}
.box{ 
    margin-top:20px;
    justify-content: center;
    gap:20px 100px;
    text-align: center;
    width:100%;

    
}
.items{
    width:300px;
    box-shadow:0 0 20px gray;
    padding-left:20px;
    padding-top:20px;
   padding-bottom:20px;
    height:450px;
    margin-bottom:25px;
    border-radius: 20px;
 
    
}
.container{
margin-left:35px;
}